.App {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.header {
  background-color: rgba(116, 51, 8, 0.37);
  border: 2px solid black;
  border-radius: 0px 25px;
  color: rgb(196, 193, 186);
  margin: auto;
  margin-top: 1rem;
  width: 50%;
}

#content-card {
  color: white;
  font-size: 50px;
  border: 2px solid black;
  border-radius: 0px 25px;
  width: 15%;
  background-color: rgba(0, 128, 128, 0.75);

}

#content-card:hover {
  cursor: pointer;
  background-color:rgb(0, 128, 128);
}