.App {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.header {
  background-color: rgba(116, 51, 8, 0.37);
  border: 2px solid black;
  border-radius: 8px 24px;
  color: rgb(196, 193, 186);
  margin: auto;
  margin-top: 1rem;
  width: 50%;
}

#content-card1,
#content-card2,
#content-card3,
#content-card4,
#content-card5,
#content-card6,
#content-card7,
#content-card8 {
  cursor: pointer;
  transition: background-color 0.3s;
}

#content-card1:hover {
  background-color: rgb(35, 37, 76);
}
#content-card2:hover,
#content-card3:hover,
#content-card4:hover,
#content-card5:hover,
#content-card6:hover,
#content-card7:hover,
#content-card8:hover {
  opacity: 1
}