.App {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.header {
  background-color: rgba(0, 0, 0, 0.568);
  border: 2px solid rgb(254, 241, 193);
  border-radius: 24px;
  color: rgb(254, 241, 193);
  font-size: 30px;
  margin: auto;
  margin-top: 1rem;
  width: 50%;
}

